body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-image: url('./imgs/bg.jpg');
  background-size: cover;
  background-position: center;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: #fff;
}

h1 {
  text-shadow: 2px 2px black;
}